{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

        {% block extra_css %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/blog/">Blog</a>
                <a href="/search/">Search</a>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% load home_tags %}
            {% get_footer_text as footer_text %}
            {{ footer_text.body|richtext }}
        </footer>

        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
        {% endblock %}
    </body>
</html>
